.cards {
    ul{
        width: 34rem ;
        display: flex;
        flex-wrap: wrap;
        margin: 1rem 0;
        padding: 0;
        
        li {
            display: inline;
            list-style-type: none;
         }
    }
}