@import '../../styles/sizes.scss';

.cards {

    ul{
        width: 20rem;
        display: flex;
        flex-wrap: wrap;
        margin: 2rem 0;
        padding: 0;
        @media (min-width: $size-1) {
            width: 26rem;
        }
        @media (min-width: $size-2) {
            width: calc($one-card * 2);
        }
        @media (min-width: $size-3) {
            width: calc($one-card * 3);
        }
        @media (min-width: $size-4) {
            width: calc($one-card * 4);
        }
        @media (min-width: $size-5) {
            width: calc($one-card * 5);
        }
        
        li {
            display: inline;
            list-style-type: none;
         }
    }
}